<div class="hero-banner">
  <div class="container" id='home-container'>
    <h1 class='text-white'>Find cute dogs in your area</h1>
    <p class='text-white'>Looking for a puppy companion but don't want the commitment? <br>Browse online for pups near you.</p>

    <%# <% if user_signed_in? %>
    <%# <% else %>
      <%# <a class="yellow-pill-btn" href="/users/sign_up">Register</a> %>
      <%# <a class="yellow-pill-btn" href="/users/sign_in">Login</a> %>
    <%# <% end %>
    <%= form_tag dogs_path, method: :get, class: "d-flex home-search" do %>
    <%= text_field_tag :query,
      params[:query],
      class: "form-control search-box",
      placeholder: "Find a dog by location, breed, name..."
    %>
  <%= submit_tag "Search", class: "yellow-pill-btn search-submit" %>
  </div>

  </div>

<% end %>

<div class="container" data-controller="see-more">
  <div class="cards">
    <% @dogs.sort_by { |el| -el[:id] }.first(6).each do |dog| %>
      <div class='card-component'>
        <%= link_to dog_path(dog) do %>
          <div class="card-category" style="background-image: url(<%= dog.photo_url %>)"><div id='home-circle' class="circle-graphic"></div></div>
        <% end %>
        <div class='card-product-infos'>
          <div class="card-dog-heading">
            <h3 class="pe-3"><%= dog.name.capitalize %></h3>
            <div class="card-dog-rating">
                  <% if dog.reviews.present? %>
                  <% average = 0 %>
                  <% dog.reviews.each do |review| %>
                    <% average += review.rating %>
                  <% end %>
                    <% rating = average / dog.reviews.count %>
                    <% rating.times do %>
                      <i class="fa-solid fa-star" style='color:#55AFE2'></i>
                    <% end %>
                <% else %>
                  <% 5.times do %>
                      <i class="fa-solid fa-star" style='color:#55AFE2'></i>
                    <% end %>
                <% end %>
            </div>
            <p><%= pluralize dog.rate, 'treat'%></p>
          </div>
          <div>
          </div>
          <p><%= dog.location %>
          <i class="fa-solid fa-paw"></i>
          <%= link_to "View details", dog_path(dog) %>
        </div>

      </div>
    <% end %>

    <% if @dogs.count > 6 %>
      <br data-see-more-target="link">

      <div data-see-more-target="link">
          <button type="button" class="yellow-pill-btn my-btn" data-action="click->see-more#reveal" data-see-more-target="link">See all dogs</button>
      </div>
    <% end %>

    <% if @dogs.count > 6 %>
    <% @dogs.sort_by { |el| -el[:id] }.slice(6...).each do |dog| %>
    <div class='card-component hidden' data-see-more-target="card" >
      <%= link_to dog_path(dog) do %>
        <div class="card-category" style="background-image: url(<%= dog.photo_url %>)"><div id='home-circle' class="circle-graphic"></div></div>
      <% end %>
      <div class='card-product-infos'>
        <div class="card-dog-heading">
            <h3 class="pe-3"><%= dog.name.capitalize %></h3>
            <div class="card-dog-rating">
                  <% if dog.reviews.present? %>
                  <% average = 0 %>
                  <% dog.reviews.each do |review| %>
                    <% average += review.rating %>
                  <% end %>
                    <% rating = average / dog.reviews.count %>
                    <% rating.times do %>
                      <i class="fa-solid fa-star" style='color:#55AFE2'></i>
                    <% end %>
                <% else %>
                  <% rand(3..5).times do %>
                      <i class="fa-solid fa-star" style='color:#55AFE2'></i>
                    <% end %>
                <% end %>
            </div>
            <p><%= pluralize dog.rate, 'treat'%></p>
          </div>
        <p><%= dog.location %>
        <i class="fa-solid fa-paw"></i>
        <%= link_to "View details", dog_path(dog)  %>
      </div>
    </div>
  <% end %>
  <% end %>

  </div>
</div>
