<div class="hero-banner">
  <div class="container">
    <h1 class='text-white'>Find cute dogs in your area</h1>
    <% if user_signed_in? %>
    <% else %>
      <a class="yellow-pill-btn" href="/users/sign_up">Register</a>
      <a class="yellow-pill-btn" href="/users/sign_in">Login</a>
    <% end %>
  </div>

  <%= form_tag dogs_path, method: :get, class: "d-flex" do %>
    <%= text_field_tag :query,
      params[:query],
      class: "form-control",
      placeholder: "Type a Location ..."
    %>
  <%= submit_tag "Search", class: "btn btn-primary" %>
  </div>

<% end %>

<div class="container" data-controller="see-more">
  <div class="cards">
    <% @dogs.sort_by { |el| -el[:id] }.first(6).each do |dog| %>
      <div class='card-component'>
        <%= link_to dog_path(dog) do %>
          <div class="card-category" style="background-image: url(<%= dog.photo_url %>)"><div id='home-circle' class="circle-graphic"></div></div>
        <% end %>
        <div class='card-product-infos'>
          <div class="card-dog-heading">
            <h2><%= dog.name %></h2>
            <p><%= dog.rate %> treats</p>
          </div>
          <p><%= dog.location %>
          <i class="fa-solid fa-paw"></i>
          <%= link_to "View details", dog_path(dog)  %>
        </div>
      </div>
    <% end %>

    <% if @dogs.count > 6 %>
      <br data-see-more-target="link">

      <div data-see-more-target="link">
          <button type="button" class="yellow-pill-btn my-btn" data-action="click->see-more#reveal" data-see-more-target="link">See More...</button>
      </div>
    <% end %>

    <% if @dogs.count > 6 %>
    <% @dogs.sort_by { |el| -el[:id] }.slice(6...).each do |dog| %>
    <div class='card-component hidden' data-see-more-target="card" >
      <%= link_to dog_path(dog) do %>
        <div class="card-category" style="background-image: url(<%= dog.photo_url %>)"><div id='home-circle' class="circle-graphic"></div></div>
      <% end %>
      <div class='card-product-infos'>
        <div class="card-dog-heading">
          <h2><%= dog.name %></h2>
          <p><%= dog.rate %> treats</p>
        </div>
        <p><%= dog.location %>
        <i class="fa-solid fa-paw"></i>
        <%= link_to "View details", dog_path(dog)  %>
      </div>
    </div>
  <% end %>
  <% end %>

  </div>
</div>
