<%= @dogs.last.name %>
<div class="container">
  <div class="cards">

  <% @dogs.each do |dog| %>
    <div class='card-component'>
      <%= link_to dog_path(dog) do %>
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= dog.photo_url %>)"></div>
      <% end %>
      <div class='card-product-infos'>
        <div class="card-dog-heading">
          <h2><%= dog.name %></h2>
          <p><%= dog.rate %> treats</p>
        </div>
        <p><%= dog.location %>
        <i class="fa-solid fa-paw"></i>
        <%= link_to "View details", dog_path(dog)  %>
      </div>
    </div>
  <% end %>

  </div>
</div>
