<div class="container">
  <div class="dog-header">
    <h1><%= @dog.name %></h1>
    <h4><%= @dog.breed %>, <%= @dog.location %></h4>
  </div>

  <div class="dog-details">
    <div class="profile-left">
      <div class='profile-left-top'>
        <div class="dog-photo" style="background-image:url(<%= @dog.photo_url%>)">
          <div class="circle-graphic"></div>
          <%# <%= image_tag @dog.photo_url, class: "dog-profile-pic" %>
          <div class="icons">
            <% if @dog.user == current_user %>
              <%= link_to edit_dog_path(@dog) do %>
                <i id="icon" class="fa-solid fa-pen-to-square"></i>
              <% end %>
              <%= link_to dog_path(@dog), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} do %>
                <i id="icon" class="fa-solid fa-trash-can"></i>
              <% end %>
            <% end %>
          </div>
        </div>

        <div class="profile-description">
          <h4>Description</h4>
          <p><%= @dog.description.capitalize + "." %></p>
          <span class='dog-tags'>Friendly</span>
          <span class='dog-tags'>Deaf</span>
          <span class='dog-tags'>Energetic</span>
          <span class='dog-tags'>Anxious</span>
          <span class='dog-tags'>Potty-trained</span>
          <span class='dog-tags'>Sheds hair</span>
          <br>
          <h4>Owner</h4>
          <div class="dog-owner">
              <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <%= link_to user_path(@dog.user) do %>
              <%= @dog.user.first_name.capitalize %>
            <% end %>
          </div>
        </div>
      </div>

      <br>

      <% if @dog.reviews.present? %>
        <h3 class='review-headings'>Recent reviews</h3>
        <div class='recent-reviews'>
          <% @reviews.sort_by { |el| -el[:id] }.first(3).each do |review| %>
          <div class="review-card">
            <% if review.rating == 5 %>
              <i class="fa-solid fa-star" style='color:#55AFE2'></i>
              <i class="fa-solid fa-star" style='color:#55AFE2'></i>
              <i class="fa-solid fa-star" style='color:#55AFE2'></i>
              <i class="fa-solid fa-star" style='color:#55AFE2'></i>
              <i class="fa-solid fa-star" style='color:#55AFE2'></i>
            <% elsif review.rating == 4 %>
              <i class="fa-solid fa-star" style='color:#55AFE2'></i>
              <i class="fa-solid fa-star" style='color:#55AFE2'></i>
              <i class="fa-solid fa-star" style='color:#55AFE2'></i>
              <i class="fa-solid fa-star" style='color:#55AFE2'></i>
            <% elsif review.rating == 3 %>
              <i class="fa-solid fa-star" style='color:#55AFE2'></i>
              <i class="fa-solid fa-star" style='color:#55AFE2'></i>
              <i class="fa-solid fa-star" style='color:#55AFE2'></i>
            <% elsif review.rating == 2 %>
              <i class="fa-solid fa-star" style='color:#55AFE2'></i>
              <i class="fa-solid fa-star" style='color:#55AFE2'></i>
            <% elsif review.rating == 1 %>
              <i class="fa-solid fa-star" style='color:#55AFE2'></i>
            <% end %>
            <p id='review-content'><%= review.content %></p>
            <p id='review-author'>– <%= review.user.first_name %></p>
          </div>

          <% end %>
        </div>

        <br>

        <h4 class='review-headings'>All other reviews</h4>
        <div class='all-reviews'>
          <% @reviews.sort_by { |el| -el[:id] }.slice(3...).each do |review| %>
            <div class="review-list">
              <% if review.rating == 5 %>
                <i class="fa-solid fa-star" style='color:#55AFE2'></i>
                <i class="fa-solid fa-star" style='color:#55AFE2'></i>
                <i class="fa-solid fa-star" style='color:#55AFE2'></i>
                <i class="fa-solid fa-star" style='color:#55AFE2'></i>
                <i class="fa-solid fa-star" style='color:#55AFE2'></i>
              <% elsif review.rating == 4 %>
                <i class="fa-solid fa-star" style='color:#55AFE2'></i>
                <i class="fa-solid fa-star" style='color:#55AFE2'></i>
                <i class="fa-solid fa-star" style='color:#55AFE2'></i>
                <i class="fa-solid fa-star" style='color:#55AFE2'></i>
              <% elsif review.rating == 3 %>
                <i class="fa-solid fa-star" style='color:#55AFE2'></i>
                <i class="fa-solid fa-star" style='color:#55AFE2'></i>
                <i class="fa-solid fa-star" style='color:#55AFE2'></i>
              <% elsif review.rating == 2 %>
                <i class="fa-solid fa-star" style='color:#55AFE2'></i>
                <i class="fa-solid fa-star" style='color:#55AFE2'></i>
              <% elsif review.rating == 1 %>
                <i class="fa-solid fa-star" style='color:#55AFE2'></i>
              <% end %>
              <p id='review-content'><%= review.content %></p>
              <p id='review-author'>– <%= review.user.first_name %></p>
              <hr>
            </div>

          <% end %>
        </div>
      <% end %>
    </div>

    <div class="profile-right">
      <div class="booking-form" data-controller="dog-show" data-action="scroll@window->dog-show#scroll" data-search-target="form">
        <h2 class="text-center">Make a booking</h2>
          <div class="booking-form-reviews d-flex justify-content-between border">
            <div class="reviews-left">
              <div class="dog-owner mb-2">
                <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
                <%= link_to user_path(@dog.user) do %>
                  <%= @dog.user.first_name.capitalize %>
                <% end %>
              </div>
              <button type="button" class="btn btn-light">
                Contact Owner
              </button>
            </div>
            <div class="reviews-right">
              <% if @dog.reviews.present? %>
                <p><strong><%= @dog.reviews.count %></strong> Reviews</p>
                <p><strong><%= @dog.reviews.first.rating %></strong> stars</p>
              <% else %>
                <p><strong>0</strong> Reviews</p>
              <% end %>
            </div>
          </div>
          <%= simple_form_for [@dog, @booking] do |f| %>
          <%= f.input :start, as: :date, html5: true %>
          <%= f.input :end, as: :date, html5: true %>
          <% if user_signed_in? %>
            <%= f.submit 'Confirm Booking', class: "btn btn-light align-items-center" %>
          <% else %>
              <%= link_to "Confirm Booking", new_user_session_path, class: "btn btn-light" %>
          <% end %>
          <div class="border-top my-2 pt-4 d-flex justify-content-center">
            <h3><strong><%= @dog.rate %></strong> treats/day</h3>
          </div>
        </div>
      <% end %>
    </div>
  </div>



  <div id="map">
    <h3>Pick-up location is in <%=@dog.location%></h3><br>
    <div style="width: 100%; height: 400px;"
    data-controller="map"
    data-map-markers-value="<%= @markers.to_json %>"
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
  </div>
</div>
