<div class="container">
  <div class="dog-header">
    <h1><%= @dog.name %></h1>
    <h4><%= @dog.breed %>, <%= @dog.location %></h4>
  </div>
  <div class="dog-details">
    <div class="profile-left">
      <div class="dog-photo">
        <div id="circle-graphic"></div>
         <%= image_tag @dog.photo_url, class: "dog-profile-pic" %>
        <div class="icons">
          <% if @dog.user == current_user %>
            <%= link_to edit_dog_path(@dog) do %>
              <i id="icon" class="fa-solid fa-pen-to-square"></i>
            <% end %>

            <%= link_to dog_path(@dog), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} do %>
              <i id="icon" class="fa-solid fa-trash-can"></i>
            <% end %>
          <% end %>
        </div>
      </div>

      <div class="profile-description">
        <h4>Description</h4>
        <p><%= @dog.description %></p>
        <span class='dog-tags'>Friendly</span>
        <span class='dog-tags'>Deaf</span>
        <span class='dog-tags'>Energetic</span>
        <span class='dog-tags'>Anxious</span>
        <span class='dog-tags'>Potty-trained</span>
        <span class='dog-tags'>Sheds hair</span>
        <h4>Owner</h4>
        <div class="dog-owner">
          <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <%= @dog.user.first_name %>
        </div>
      </div>
    </div>

    <div class="profile-right">
      <div class="booking-form" data-controller="dog_show" data-action="scroll@window->dog_show#scroll" data-search-target="form">
        <h2>Make a booking</h2>
          <%= simple_form_for [@dog, @booking] do |f| %>
          <%= f.input :start, as: :date, html5: true %>
          <%= f.input :end, as: :date, html5: true %>
          <%= f.button :submit %>
        </div>
      <% end %>
    </div>
  </div>
  <div id="map">
    <h3><%= @dog.name %> is based in <%=@dog.location%></h3>
    <p>insert map</p>
    <%= @dog.location %>
  </div>
</div>
