<div class="container">
  <div class='booking-heading'>
    <div class='booking-heading-left'>
      <h1>Booking summary</h1>
      <div id='pending'>Pending</div>
    </div>
    <div class='booking-heading-right'>
      <h4><%= link_to "See all bookings", my_bookings_path, class: "nav-link" %></h4>
    </div>
  </div>
  <div class="cards-booking">
    <div class='card-component'>
      <div class="card-category" style="background-image: url(<%= @dog.photo_url %>)"></div>
      <div class='card-product-infos'>
        <div class="card-dog-heading">
          <h2><%= @dog.name %></h2>
                      <%= link_to user_path(@booking.dog.user) do %>
            <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", id:"dog-owner"  %><%= @dog.user.first_name %>
            <% end %>
          <p><%= @dog.rate %> treats</p>
        </div>
        <p><%= @dog.location %>
        <i class="fa-solid fa-paw"></i>
        <%= link_to "View details", dog_path(@dog)  %>
        <p>Booked from <%= @booking.start %> until <%= @booking.end %></p>
      </div>
    </div>
    <div id="map">
      <div style="width: 100%; height: 480px;"
      data-controller="map"
      data-map-markers-value="<%= @markers.to_json %>"
      data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
    </div>
  </div>
</div>
