<div class="container">
  <div class="cards">
    <div class='card-component'>
        <div class="card-category" style="background-image: url(<%= @dog.photo_url %>)"></div>
      <div class='card-product-infos'>
        <div class="card-dog-heading">
          <h2><%= @dog.name %></h2>
          <p><%= @dog.rate %> treats</p>
        </div>
        <p><%= @dog.location %>
        <i class="fa-solid fa-paw"></i>
        <%= link_to "View details", dog_path(@dog)  %>
      </div>
    </div>
  </div>

  <div id="map">
    <h3>Pick-up location is in <%=@dog.location%></h3><br>
    <div style="width: 100%; height: 400px;"
    data-controller="map"
    data-map-markers-value="<%= @markers.to_json %>"
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
  </div>
</div>
