<div class="container">

  <h1 class="text-center border-bottom py-2 mb-4">My Bookings</h1>

  <% @bookings.each do |book| %>
    <div class="card-product my-2 py-2">
      <%= link_to dog_path(book.dog) do %>
        <img src="<%= book.dog.photo_url %>" />
      <% end %>
      <div class="card-product-infos d-flex justify-content-between align-items-center w-100">
          <div class="card-info-left">
            <div class="booking-card-header align-items-center d-flex">
              <h3><%= link_to book.dog.name, dog_path(book.dog) %> from <%= book.dog.location %></h3>
              <%= link_to booking_path(book), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} do %>
                <i class="fa-solid fa-trash-can "></i>
              <% end %>
            </div>
            <p>Booked for <%= book.start %> until <%= book.end %></p>
          </div>
          <% if book.approved %>
            <button type="button" class="btn btn-success">Accepted!</button>
          <% else %>
            <button type="button" class="btn btn-danger">Not accepted</button>
          <% end %>
          <div class="card-info-right p-4">
            <%= link_to user_path(book.dog.user) do %>
            <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", id:"dog-owner"  %><%= book.dog.user.first_name %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>



</div>
