<div class="container">
  <h1 class="text-center border-bottom py-2 mb-4">Booking confirmation</h1>

  <% @bookings.each do |book| %>
    <div class="card-product">
      <%= link_to dog_path(book.dog) do %>
        <img src="<%= book.dog.photo_url %>" />
      <% end %>
      <div class="card-product-infos d-flex justify-content-between align-items-center w-100">
          <div class="card-info-left">
            <div class="booking-card-header align-items-center d-flex">
              <h3><%= link_to book.dog.name, dog_path(book.dog) %> from <%= book.dog.location %></h3>
              <%= link_to booking_path(book), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} do %>
                <i class="fa-solid fa-trash-can "></i>
              <% end %>
            </div>
            <p>Booked for <%= book.start %> until <%= book.end %></p>
          </div>
          <div class="card-info-right p-4">
          <% if book.approved %>
            <div class='review-buttons' >
              <button type="button" class="accepted-btn">Accepted</button>
              <%= link_to "Leave a review", new_dog_review_path(book.dog) %>
            </div>
          <% else %>
            <div class='review-buttons'>
              <button type="button" class="not-accepted-btn">Pending</button>
            </div>
          <% end %>

            <%= link_to user_path(book.dog.user) do %>
            <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", id:"dog-owner"  %><%= book.dog.user.first_name %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>

</div>
