<div class="container">

  <h1 class="text-center border-bottom py-2 mb-4">My Bookings</h1>

  <% @bookings.each do |book| %>
    <div class="card-product my-2">

      <%= link_to dog_path(book.dog) do %>
        <img src="<%= book.dog.photo_url %>" />
      <% end %>
      <div class="card-product-infos d-flex justify-content-between  w-100">
        <div class="card-info-left align-items-center">
          <h1><%= link_to book.dog.name, dog_path(book.dog) %></h1>
          <h2><%= book.start %> until <%= book.end %></h2>
          <p>from <strong><%= book.dog.location %></strong></p>
        </div>
        <div class="card-info-right d-flex align-items-center justify-content-between p-4">
          <h2>Owner: </h2>
          <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", id:"dog-owner"  %><%= book.dog.user.first_name %>
        </div>
      </div>
    </div>
  <% end %>



</div>
